<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/37f8201d-5a1e-4a43-93f0-a70c0ad69c66/resourcegroups/EVComparisons/providers/Microsoft.Web/sites/EVComparisons</ResourceId>
    <ResourceGroup>EVComparisons</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://evcomparisons.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>8efcf6cb-8f08-4bc4-9ebf-bc7a344a763d</ProjectGuid>
    <PublishUrl>https://evcomparisons.scm.azurewebsites.net/</PublishUrl>
    <UserName>$EVComparisons</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>